#footer {
  text-align: center;
  clear: both;

  .footer-content {
    width: 80%;
    margin: 0 auto;

    p {
      padding-top: 60px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: left;
    }
  }

  .artin-link {
    font-family: 'Barlow-Bold';
    font-weight: bold;
    letter-spacing: 0.16em;
    border: 0;
    color: #F47723;
  }
}
